bodY{
    background-color:#182e54 ;
    color: #a67b5c;
}
.tamanho{
    text-align: center;
 
}
img{
    width: 190px;
}
.texto{
    text-align: center;
}
h2#branco{
    color: white;
}
h3#branco{
    color: white;
}
button{
    background-color:#182e54 ;
    color: #a67b5c;
}