body{
    background-color: rgb(28, 63, 28);
    color: white;
}
div.centro{
    text-align: center;
}
img{
    width: 400px;
   
}
h2#black{
    color: black;
}
.texto{
    text-align: center;
} 
h3#black{
    color: black;
}
.tamanho{
    width: 500px;
} .tamanho2{
    width: 150px;
}
 .tamanho3{
    width: 200px;
}
button{
background-color: rgb(37, 78, 37);
color: white;
}
